# Project exclude paths
/old/
.idea/*
.idea/workspace.xml
__pycache__/data_preprocess.cpython-39.pyc
ProG/__pycache__/*
*.pyc
.DS_Store
pre_trained_model/
pre_trained_model_old/
dataset/
Dataset/
pre_trained_gnn/
logs/
*.log

